@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--alabaster: 48 25% 98%;
	--pistachio: 97 49% 58%;
	--jungle-green: 165 58% 43%;
	--pear: 68 80% 56%;
	--yellow-green: 81 67% 57%;

	--background: var(--alabaster);
	--foreground: 0 0% 9%;

	--primary: var(--jungle-green);
	--primary-foreground: var(--alabaster);
	--secondary: var(--pistachio);
	--secondary-foreground: 0 0% 9%;
	--accent: var(--pear);
	--accent-foreground: 0 0% 9%;
	--muted: var(--jungle-green);
	--muted-foreground: 0 0% 9%;

	--card: var(--background);
	--card-foreground: var(--foreground);
	--popover: var(--background);
	--popover-foreground: var(--foreground);
	--border: var(--yellow-green);
	--input: var(--yellow-green);
	--ring: var(--jungle-green);

	--radius: 0.5rem;

	font-family: var(--font-satoshi), var(--font-geist), sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	color: hsl(var(--foreground));
	background: hsl(var(--background));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
